@import url(_styles.scss);
@import url(_variables.scss);

// Override HTML's urgent style
body,
html {
    height: 100%;
    margin: 0px !important;
}

.row,
.column {
    display: flex;
    width: 100%;
    height: 100%;
}
.row {
    flex-direction: row;

    &--space-between {
        @extend .row;
        justify-content: space-between;
        align-items: center;
    }

    &--center-left {
        @extend .row;
        justify-content: center;
        align-items: flex-start;
    }

    &--center {
        @extend .row;
        align-items: center;
        justify-content: center;
    }

    &--center-right {
        @extend .row;
        justify-content: center;
        align-items: flex-end;
    }
}

.column {
    flex-direction: column;

    &--space-between {
        @extend .column;
        justify-content: space-between;
        align-items: center;
    }

    &--center-left {
        @extend .column;
        justify-content: center;
        align-items: flex-start;
    }

    &--center {
        @extend .column;
        align-items: center;
        justify-content: center;
    }

    &--center-right {
        @extend .column;
        justify-content: center;
        align-items: flex-end;
    }
}

.icon {
    // Default size
    height: 16px;
    width: 16px;
    object-fit: contain;

    &--small {
        @extend .icon;
        height: 8px;
        width: 8px;
    }

    &--large {
        @extend .icon;
        height: 24px;
        width: 24px;
    }
}

.btn,
.cus-btn {
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 20px;
    border: none;
    margin: 5px;
    width: 100%;

    &--primary {
        @extend .cus-btn;
        color: black;
        background-color: red;
    }

    &--sencondary {
        @extend .cus-btn;
        color: white;
        // background-color: $base-color-green;
    }

    &--transparent {
        @extend .btn;
        background-color: transparent;
        border: none;
        border-radius: 0px;
    }
}

.btn:hover {
    cursor: pointer;
}

input {
    width: 100%;
}
