.btn {
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    margin: 5px;
    
    &--primary {
        @extend .btn;
        color: black;
        background: white;
    }

    &--sencondary {
        @extend .btn;
        color: white;
        background-color: blue;
    }
}
