// @import url("/src/c");

.cus-btn {
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    margin: 5px;

    &--primary {
        @extend .cus-btn;
        color: black;
        // background-color: $base-color-red;
    }

    &--sencondary {
        @extend .cus-btn;
        color: white;
        // background-color: $base-color-green;
    }
}
